<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="4.2" package="com.HistorischeStoetApp" android:installLocation="preferExternal" android:versionCode="5">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<application android:label="ReuzengildeProject.Android" android:icon="@drawable/icon"></application>
</manifest>