<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="6" package="com.HistorischeStoetApp" android:installLocation="preferExternal" android:versionCode="6">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<application android:label="ReuzengildeProject.Android" android:icon="@drawable/web_hi_res_512"></application>
</manifest>