<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.HistorischeStoetApp" android:installLocation="preferExternal" android:versionCode="9" android:versionName="9">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" /> 
	<application android:label="Historische Stoet" android:icon="@drawable/web_hi_res_512"></application>
</manifest>